<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images Gallery - About</title>
</head>
<body>
<h1>Images Gallery</h1>
<h2>About the project</h2>
<p>This project is a web application that allows users to create and share their own image galleries. The application is developed using the PHP framework SLIM, twig, Javascript, HTML and SASS.</p>
<h2>Authors</h2>
<p>Authors of this project are:</p>
<ul>
    <li><a href="https://github.com/MaegIins"> Tristan BELMONT</a></li>
    <li><a href="https://github.com/Quent5"> Quentin DAL BON</a></li>
    <li><a href="https://github.com/lucasfarroni"> Lucas FARRONI</a></li>
    <li><a href="https://github.com/lgyn57"> Axel LEGUYEN</a></li>
    <li><a href="https://github.com/Alfiov"> Clément PERRIN</a></li>
</ul>

<a class="button" href="../data/maquettes.zip">Download the models</a>
<a class="button" href="https://www.youtube.com/watch?v=IO9XlQrEt2Y">Instantly get 10000$</a>

<a href="https://github.com/MaegIins/ImagesGallery">Our Github Repo</a>
</body>
</html>