<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="../data/style/sass/log.css">
</head>
<body>

{# {% if conn %} #}
   <form action="http://localhost:8080/gallery/submit" method="post" enctype="multipart/form-data">
        <label for ="title">Titre de la galerie<label>
        <input type="text" name="title" id="title" placeholder="ex. Animaux, Voyage en Ireland, ...">
        <br>
        <label for ="tag">Mots clefs<label>
        <input type="text" name="tag" id="tag" placeholder="ex. Paysage, Chien, Chat, ...">
        <br>
        <label for="prive">Privé</label> <input type="radio" name="groupe-radio" id="prive" value="prive">
        <br>
        <label for="public">Public</label> <input type="radio" name="groupe-radio" id="public" value="public" checked>
        <br>
        <label for ="img">Ajouter une image à la galerie<label>
        <input type="file" name="img" id="image" accept="application/png">
        <br>
        <input type="button" name"img" id "add_img" value = "Ajouter une autre image">
        <br>
        <label for ="username">Ajouter un utilisateur à la galerie<label>
        <input type="text" name="user" id="username" placeholder="ex. toto57">
        <br>
        <input type="button" name"add_username" id "add_user" value = "Ajouter un autre utilisateur">
        <br>
        <input type="submit" value="Créer une galerie">
    </form>

{# {% else %} #}
    
{# {% endif %} #}

</body>
</html>