<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="../data/style/sass/log.css">
</head>
<body>


{% if conn %}
    <!-- contenu de la page de création de gallerie si connecté -->



{% else %}
    <!-- contenu de la page si non connecté -->
    <p>Vous devez être connecté pour accéder à cette page</p>

{% endif %}

</body>
</html>