<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="../data/style/sass/gallery.css">
</head>
<body>

<div id="menu">
    <p>Image Gallery</p>
    {% if conn %}
        <a id="myGal" href="/myGal">My gallery</a>
    {% endif %}
    <div id="login">
        {% if conn %}
            <a id="newGal" href="/newGal">New Gallery</a>
            <input id="searchbar" type="text">
            <p>Hello {{ conn.username }}</p>
            <a id="logout" href="/logout">Logout</a>
        {% else %}
            <a id="loginBut" href="/test">Login</a>
            <a id="signup" href="/signup">Register</a>
        {% endif %}
    </div>
</div>

<div id="content">
</div>
<div id="footer">
    <p>Image Gallery</p>
</div>

</body>
</html>