<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="../data/style/sass/log.css">
</head>
<body>

<div id="Llog">
    <h1>Log In</h1>

    <form id="Llogin" method="post" action="/login">
        <input type="text" class="Ltxt" placeholder="Username" name="username"/>
        <input type="password" class="Ltxt" placeholder="Password" name="password"/>


        <input type="submit" class="Lsub" value="Log In"/>
    </form>
    {% if error != "" %}
        <div class="Lerror">{{ error }}</div>
    {% endif %}
</div>

</body>
</html>