<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="../data/style/sass/log.css">
</head>
<body>

<div id="Slog">
    <h1>Create an account</h1>
    <form id="Slogin"  method="post" action="/signup">
        <input class = "Stxt" type="text" placeholder="Username" name="username"/>
        <input class = "Stxt" type="password" placeholder="Password" name="password"/>
        <input class = "Stxt" type="password" placeholder="Repeat Password" name="password_confirm"/>
        <input type="submit" class="Ssub" value="Create an account"/>
    </form>
    {% if error != "" %}
        <div class="Serror">{{ error }}</div>
    {% endif %}
</div>

</body>
</html>