body {

  li{
    list-style-type: none;
  }

  p, a {
    font-size: 20px;
  }
  a{
    text-decoration: none;
    color: black;

    &:hover{
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 25px
  }

  h1 {
    font-size: 35px
  }
}

.button {
  width:100%;
  border: black 1px solid;
  padding: 10px;
  background: #b4b4b4;
 margin-top: 8px;
  color: white;

  &:hover {
    background: #595959;
    text-decoration: none;
  }

  &:active {
    color: black;
  }


}

#list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}

#github{
  display: flex;
    flex-direction: row;
    align-items: center;
  vertical-align: center;
  height: 50px;
  padding: 5px 0 5px 0;

  svg{
    height : 100%
  }
}

#ext{
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}